.top-app-bar {
  display: flex;
  padding: var(--padding);
}

.top-app-bar__search {
  flex: 1 0 0;
}

.top-app-bar__actions {
  flex: 1 0 auto;
  justify-content: flex-end;
  display: flex;
}

.top-app-bar__actions__notifications {
  border-right: 1px solid var(--border-color);
  padding: 0 calc(var(--padding)/2);
}

.top-app-bar__actions__settings {
  padding: 0 calc(var(--padding)/2);
}