.card {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm);
  height: 100%;
}

.card:hover {
  box-shadow: var(--elevation-shadow);
}

.card.card--bordered {
  border: 1px solid var(--border-color);
}

.card.card--left {
  text-align: left;
}

.card.card--center {
  text-align: center;
}

.card.card--default {
  background-color: #fff;
}

.card.card--primary {
  background-color: var(--primary-light-color);
  color: var(--primary-font-color);
}

.card.card--primary svg {
  fill: var(--primary-font-color);
}

.card.card--accent {
  background-color: var(--accent-color);
}

.card__content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.card .card__content > img {
  width: 100%;
}