aside.drawer {
  width: var(--drawer-size);
  background-color: var(--drawer-bg-color);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
}

aside.drawer nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--padding) 0;
}

aside.drawer .drawer__logo {
  width: 32px;
}

