:root {
  --body-bg-color: #eef1f3;
  --main-bg-color: #ffffff;
  --drawer-bg-color: #fafafa;
  --main-font-color: #38364C;
  --primary-font-color: #fff;
  --primary-color: #444679;
  --primary-light-color: #685cb6;
  --mdc-theme-primary: #685cb6;
  --secondary-color: #ffbbc1;
  --accent-color: #ffefd5;
  --banner-color: #d3f5ff;
  --border-color: #eaeaef;
  --muted-color: #a29fb8;
  --elevation-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --border-radius: 1.5rem;
  --padding: 42px;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--main-font-color);
  background-color: #eef1f3;
}

.dashboard {
  background-color: var(--main-bg-color);
  display: flex;
  height: 100%;
}

aside.drawer {
  width: 300px;
  background-color: var(--drawer-bg-color);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside.drawer nav {
  display: flex;
  flex-direction: column;
}

aside.drawer .drawer__logo {
  width: 64px;
}
.main {
  flex: 1 0 auto;
}

.main-content__container {
  padding: var(--padding);
}