.menu-link {
  padding: 16px 24px;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--primary-color);
}

.menu-link svg {
  fill: var(--primary-color);
}

.menu-link:hover,
.menu-link--active {
  box-shadow: var(--elevation-shadow);
  background-color: #fff;
}

.menu-link:last-child {
  margin-bottom: 0;
}

.menu-link span {
  display: flex;
  align-items: center;
}

.menu-link span i.rmwc-icon {
  margin-right: 1rem;
}