.banner {
  display: flex;
  padding: var(--padding);
  background-color: var(--banner-color);
  border-radius: var(--border-radius);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.banner__content__title p {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.banner__content__title h3 {
  font-size: 1.7rem;
  margin: 0 0 1rem 0;
}

.banner__content__support {
  display: inline-flex;
  gap: var(--padding);
}
